@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: "Roboto", sans-serif;
    &::-webkit-scrollbar {
        display: none;
      }
}

a ,h2{
    color: white;
  
}
a {
    text-decoration: none;
  }
  

$bg: rgb(30, 30, 30);

.header {
    height: 100px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;



    >img {
        height: 100%;
    }

    >div {

        width: 100%;
        margin-left: 4vmax;

        >a {
            margin: 1vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    >svg {
        margin: 2vmax;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        &:hover{
            color:rgb(162, 152, 152)
        }
    }
}